{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div id="login">
    <form method="post" id="form__login">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form__wrapper">
            <div class="logo">
                idelly
            </div>
            <div class="form__inputs">
                <input type="email" value="{{ last_username }}" name="email" placeholder="Adresse e-mail" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"    >

                <button type="submit">
                    Se connecter
                </button>
            </div>

            <div class="form__navigation">
                <a href="{{ path('app_register') }}">S'inscrire</a>
                <a href="{{ path('app_login') }}">Connexion</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
