{% extends 'base.html.twig' %}

{% block title %}Discussion
{% endblock %}

{% block body %}
	<div class="container p-3" style="min-height: 100vh">
		<div class="row row-cols-3">
			<div class="col col-2">
				<img src="{{ asset('/image/logo.png') }}" style="width: 100%" alt="">
			</div>
			<div class="col col-7">
				<div class="h5 m-0 mt-2 text-white text-center">
					Chat
				</div>
			</div>
			<div class="col col-3">
				<a href="{{ path('messaging')}}" class="btn text-white border border-3 border-white w-100">
					<i class="fa-solid fa-rotate-left"></i>
				</a>
			</div>
		</div>
		<hr class="bg-white" style="color:white">

		<div class="nomContact">
			<h2>{{userDistant.name}}
				{{userDistant.firstname}}</h2>
		</div>
		{# Afficher les messages #}
		<div class="ZoneMessage">
			{% for message in messages %}
				{# Si c'est userDistant, affiche sur la gauche, sinon c'est a droite  #}
				{% if message.auteur.id == userDistant.id %}
					<div class="message-container userDistant">
						<div class="messageUserDistant">
							{{message.content}}
						</div>
						{# <div class="dateMessage">Le {{message.dateContent|date('d/m/Y')}} à {{message.dateContent|date('H:i')}}</div> #}
					</div>
				{% else %}
					<div class="message-container userConnect">
						<div class="messageUserConnect">
							{{message.content}}
						</div>
						{# <div class="dateMessage">Le {{message.dateContent|date('d/m/Y')}} à {{message.dateContent|date('H:i')}}</div> #}
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{# Ecrire un message #}
		<div class="ZoneText">
			{{ form_start(form) }}
			{{ form_row(form.content) }}
			<button type="submit" class="btn btn-primary">Envoyer</button>
			{{ form_end(form) }}
		</div>
	</div>

	<style>
		.nomContact {
			text-align: center;
			color: white;
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		.ZoneMessage {
			height: 55vh;
			overflow-y: scroll;
			display: flex;
			flex-direction: column;
		}
		.ZoneText {
			position: fixed;
			bottom: 80px;
			width: 100%;
			padding-right: 2rem;
		}
		button {
			float: right;
		}

		.message-container {
			width: fit-content;
			max-width: 70%;
		}

		.userConnect {
			 align-self: flex-end;
		}

		.userDistant {
			align-self: flex-start;
		}

		.messageUserDistant,
		.messageUserConnect {
			color: #fff;
			border-radius: 10px;
			padding: 10px;
			margin: 5px;
		}

		.messageUserDistant {
			background-color: #3498db;
		}

		.messageUserConnect {
			background-color: blue; /* Couleur de fond pour l'utilisateur */
		}

		.dateMessage {
			font-size: 0.8rem;
			color: white;
		}
	</style>
{% endblock %}
