{% extends 'base.html.twig' %}

{% block title %}Hello PatientsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Patients</h1>
    <a href="{{ path('app_patients_add') }}">Add patients</a>
{#    {{ form_start(form) }}#}

{#    <button type="submit">Enregistrer</button>#}
{#    {{ form_end(form) }}#}


    {% for p in patients %}

        <div style="display: flex; gap: 10px; align-items: center;">
            <p>{{ p.name }}</p>
            <p>{{ p.firstname }}</p>
            <a href="">Voir</a>
        </div>

    {% endfor %}
</div>
{% endblock %}
