{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{# Selecteur de date #}
		<div class="selectDay">
			<a class="left-button" href="{{ path('app_meet', {'day': dayDateTime|date_modify("-1 day")|date("d-m-Y")})}}">
				<img src="../image/fleche_gauche.png" alt="">
			</a>
			<h2>{{ dayDateTime|date('d/m/Y') }}</h2>
			<a class="right-button" href="{{ path('app_meet', {'day': dayDateTime|date_modify("+1 day")|date("d-m-Y")})}}">
				<img src="../image/fleche_droite.png" alt="">
			</a>
		</div>

		<ul class="list-rdv">
			{% for meet in meets %}
				{% if meet.dateDebut  <= dayDateTime and dayDateTime <= meet.dateFin%}
					{% for passage in meet.passages %}
						{% if passage.hour|date('H:i') < '12:00' %}
							<h2>Matin</h2>
							<div class="list-infoRDV">
								<div>
									{{ meet.patient.name }}
									{{ meet.patient.firstName }}
									<div>{{ meet.typeSoin }}</div>
									<div style="color: red;">{{ meet.infoComplementaire }}</div>
								</div>
								<div>{{ passage.hour|date('H:i') }}</div>
								<div>
									{% if passage.etatPassage == 1 %}
										<a href="{{ path('app_passage_denied', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											Annuler
										</a>
									{% endif %}
									{% if passage.etatPassage == 0 %}
										<a href="{{ path('app_passage_validated', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											Valider
										</a>
									{% endif %}
								</div>
							</div>

						{% endif %}
						{% if passage.hour|date('H:i') > '12:00' %}
							<h2>Après-midi</h2>
							<div class="list-infoRDV">
								<div>
									{{ meet.patient.name }}
									{{ meet.patient.firstName }}
									<div>{{ meet.typeSoin }}</div>
									<div style="color: red;">{{ meet.infoComplementaire }}</div>
								</div>
								<div>{{ passage.hour|date('H:i') }}</div>
								<div>
									{% if passage.etatPassage == 1 %}
										<a href="{{ path('app_passage_denied', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											Annuler
										</a>
									{% endif %}
									{% if passage.etatPassage == 0 %}
										<a href="{{ path('app_passage_validated', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											Valider
										</a>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<style>
		.container {
			margin: 5px 2px 2px 2px;
		}

		.selectDay {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2px;
			border: 1px solid #ccc;
			border-radius: 20px;
			background-color: #f0f0f0;
			margin: 0 2px;
		}

		.selectDay input {
			font-size: 1.5em;
			width: fit-content;
			margin: 0 10px;
		}

		.left-button,
		.right-button {
			padding: 10px 20px;
			background-color: black;
			color: #fff;
			border: none;
			border-radius: 20px;
			cursor: pointer;
			margin: 0 10px;
		}

		.selectDay a img {
			width: 20px;
			height: 20px;
		}

		.middle-date {
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		.list-rdv {
			margin: 0;
			padding: 0;
		}
		.list-infoRDV {
			display: grid;
			grid-template-columns: 50% 25% 25%;
			border: 1px solid black;
			border-bottom: 3px solid;
			position: relative;
			left: 0;
		}
	</style>
{% endblock %}
