{% extends 'base.html.twig' %}

{% block body %}
	<div class="container p-3">

		<div class="row row-cols-3">
			<div class="col col-2">
				<img src="{{ asset('/image/logo.png') }}" style="width: 100%" alt="">
			</div>
			<div class="col col-7">
				<div class="h5 m-0 mt-2 text-white text-center">
					Tournée
				</div>
			</div>
			<div class="col col-3">
				<a href="{{ path('app_meet_new')}}" class="btn text-white border border-3 border-white w-100"><i class="fa-solid fa-plus"></i></a>
			</div>
		</div>

		<div class="my-3 w-100 bg-white" style="height: 2px;"></div>
		{# Selecteur de date #}
		<div class="selectDay">
			<a class="left-button" href="{{ path('app_meet', {'day': dayDateTime|date_modify("-1 day")|date("d-m-Y")})}}">
				<img src="../image/fleche_gauche.png" alt="">
			</a>
			<h2 class="dateSelected">{{ dayDateTime|date('d/m/Y') }}</h2>
			<a class="right-button" href="{{ path('app_meet', {'day': dayDateTime|date_modify("+1 day")|date("d-m-Y")})}}">
				<img src="../image/fleche_droite.png" alt="">
			</a>
		</div>

		{% set morningDisplayed = false %}
		{% set afternoonDisplayed = false %}
		{% for meet in meets %}
			{% for passage in meet.passages %}
				{% if dayDateTime| date("d-m-Y") == passage.datePassage| date("d-m-Y") and passage.hour|date('H') < '12' %}
					{# Le matin #}
					<div class="am_pm">
						{% if not morningDisplayed %}
							<h2>Matin</h2>
							{% set morningDisplayed = true %}
						{% endif %}
						<div class="list-rdv {% if passage.etatPassage == 1 %}opacity-change{% endif %}">
							<div class="list-infoRDV">
								<a class="redirectionId" href="{{ path('app_meet_show', {'id': meet.id } ) }}">
									<div class="nomPatient">{{ meet.patient.name }}
										{{ meet.patient.firstName }}</div>
									<div>{{ meet.typeSoin }}</div>
									<div style="color: red;">{{ meet.infoComplementaire }}</div>
								</a>
								<div class="heure">{{ passage.hour|date('H:i') }}</div>
								<div>
									{% if passage.etatPassage == 1 %}
										<a href="{{ path('app_passage_denied', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											<img class="buttonValid" src="../image/check_blanc.png" alt="">
										</a>
									{% endif %}
									{% if passage.etatPassage == 0 %}
										<a href="{{ path('app_passage_validated', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											<img class="buttonCancel" src="../image/croix_blanc.png" alt="">
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>

				{% endif %}
			{% endfor %}
		{% endfor %}

		{% for meet in meets %}
			{% for passage in meet.passages %}
				{% if dayDateTime| date("d-m-Y") == passage.datePassage| date("d-m-Y") and passage.hour|date('H') > '12' %}
					{# Aprem #}
					<div class="am_pm">
						{% if not afternoonDisplayed %}
							<h2>Après-midi</h2>
							{% set afternoonDisplayed = true %}
						{% endif %}
						<div class="list-rdv {% if passage.etatPassage == 1 %}opacity-change{% endif %}">
							<div class="list-infoRDV">
								<a class="redirectionId" href="{{ path('app_meet_show', {'id': meet.id } ) }}">
									<div class="nomPatient">{{ meet.patient.name }}
										{{ meet.patient.firstName }}</div>
									<div>{{ meet.typeSoin }}</div>
									<div style="color: red;">{{ meet.infoComplementaire }}</div>
								</a>
								<div class="heure">{{ passage.hour|date('H:i') }}</div>
								<div>
									{% if passage.etatPassage == 1 %}
										<a href="{{ path('app_passage_denied', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											<img class="buttonValid" src="../image/check_blanc.png" alt="">
										</a>
									{% endif %}
									{% if passage.etatPassage == 0 %}
										<a href="{{ path('app_passage_validated', {'day': dayDateTime|date("d-m-Y"), 'passage': passage.id } ) }}">
											<img class="buttonCancel" src="../image/croix_blanc.png" alt="">
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>

				{% endif %}
			{% endfor %}
		{% endfor %}

	</div>

	<style>
		.container {
			margin: 5px 2px 2px;
			min-height: 100vh;
			padding-bottom: 50px;
		}

		a {
			text-decoration: none; /* Supprimer le soulignement */
			color: inherit; /* Utiliser la couleur par défaut du texte */
			outline: none; /* Supprimer le surlignage au focus */
			/* Autres réinitialisations de style si nécessaire */
		}

		.redirectionId {
			text-decoration: none; /* Supprimer le soulignement */
			color: inherit; /* Utiliser la couleur par défaut du texte */
			outline: none; /* Supprimer le surlignage au focus */
			/* Autres réinitialisations de style si nécessaire */
		}

		.am_pm {
			margin: 0 3px;
		}

		h2 {
			color: white;
		}

		.selectDay {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2px;
			border: 1px solid #ccc;
			border-radius: 20px;
			background-color: #f0f0f0;
			margin: 2px;
		}

		.selectDay input {
			font-size: 1.5em;
			width: fit-content;
			margin: 0 10px;
		}

		.dateSelected {
			padding-top: 3%;
			color: black;
		}

		.left-button,
		.right-button {
			padding: 10px 20px;
			background-color: black;
			color: #fff;
			border: none;
			border-radius: 20px;
			cursor: pointer;
			margin: 0 10px;
		}

		.selectDay a img {
			width: 20px;
			height: 20px;
		}

		.list-rdv {
			margin: 0;
			padding: 0;
		}

		.list-infoRDV {
			display: grid;
			grid-template-columns: 60% 20% 20%;
			border: 1px solid black;
			position: relative;
			left: 0;
			background-color: white;
			margin: 2px 4px;
			padding: 5px 0;
			border-radius: 10px;
			font-size: 1.2em;

		}

		.list-infoRDV div {
			justify-self: center;
			text-align: center;
		}

		.nomPatient,
		.heure {
			font-weight: bold;
		}

		.nomPatient {
			font-size: 1.1em;
		}

		.heure {
			padding-top: 25%;
		}

		.buttonValid,
		.buttonCancel {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			padding: 2px;
			position: relative;
			top: 25%;
		}

		.buttonCancel {
			background-color: red;
		}

		.buttonValid {
			background-color: green;
		}

		/* Style pour la div avec opacité changée */
		.opacity-change {
			opacity: 0.6;
		}
	</style>
{% endblock %}
