{% extends 'base.html.twig' %}

{% block title %}Meet Show{% endblock %}

{% block body %}
           
    <div class="container p-3" style="min-height: 100vh; margin-bottom: 40px;">
    <div class="row row-cols-3">
        <div class="col col-2">
            <img src="{{ asset('/image/logo.png') }}" style="width: 100%" alt="">
        </div>
        <div class="col col-7">
            <div class="h5 m-0 mt-2 text-white text-center">
                Patients
            </div>
        </div>
        <div class="col col-3">
            <a href="{{ path('app_meet', {'day': 'now'|date("d-m-Y")})}}" class="btn text-white border border-3 border-white w-100"><i class="fa-solid fa-rotate-left"></i></a>
        </div>
    </div>

    <div class="my-3 w-100 bg-white" style="height: 2px;"></div>
    <h2 class="white">{{ meet.patient.firstname }} {{ meet.patient.name }}</h2>
    <h3>Soins</h3>
    <p class="gray-margin">{{ meet.typeSoin }}</p>
    <h3>Frequence</h3>
    <ul>Debut de passage :</ul>
    <p class="gray-margin">
        <span class="date">{{ meet.dateDebut|date('d/m/Y') }}</span>
    </p>
     <ul>Fin de passage :</ul>
    <p class="gray-margin">
        <span class="date">{{ meet.dateFin|date('d/m/Y') }}</span>
    </p>
    <div class="flex-container">
        <ul>Heure de passage :</ul>
        <div class="checkbox-wrapper">
            <p class="time">{{ meet.passages[0].hour|date('H:i') }}</p>
        </div>
    </div>

    <h3>Type de passage :</h3>
    <p class="gray-margin">{{ meet.typePassage }}</p>
    </div>

                <style>
                .gray-margin {
                margin: 5px 0; /* Add margin-bottom to create space */
                background-color: white;
                padding: 10px;
                border-radius: 30px;
                }
                .checkbox-wrapper {
                 display: flex; 
                 align-items: center;
                }      
                       

                .right-image {
                    float: right; 
                    width: 20px; 
                    height: auto; 
                }
                u,ul {
                font-weight: bold;
                color: white;
                }

                .flex-container {
                display: flex;
                align-items: center; 
                }
                h2{
                    padding-top: 15px;
                }
                h3{
                    color: white;
                    outline: none;
                    padding: 15px;
                    padding-top: 5px;
                }
                
                ul {    
                    margin-right: 10px; 
                }
                .white{
                 font-weight: 20px;
                 color: white;
                 text-align: center;
                }
                .time{
                    font-weight: bold;
                    color: #F3CEF6;
                }
                
                p{
                    font-size: 20px;
                }
    </style>

            
    
{% endblock %}