{% extends 'base.html.twig' %}

{% block title %}Meet Show{% endblock %}

{% block body %}
    
            
                <h2 class= "white">{{ meet.patient.firstname }} {{ meet.patient.name }}</h2>
                <h3>SOINS</h3>
                <p class="gray-margin">{{ meet.typeSoin }}</p>
                <h3>FREQUENCE</h3>
                <ul>DEBUT DES PASSAGES :</ul>
                <p class="gray-margin">
                    <span class="date">{{ meet.dateDebut|date('d/m/Y') }}</span>
                </p>

                <div class="flex-container">
                <ul>HEURE DE PASSAGE :</ul>
                <div class="checkbox-wrapper">
                <p class="time">{{ meet.passages[0].hour|date('H:i') }}</p>
                </div>
                </div>
                
                <h3>TYPE PASSAGE</h3>
                <p class="gray-margin">{{meet.typePassage}}</p>

                <style>
                .gray-margin {
                     margin: 20px; 
                     background-color: white; 
                     padding: 20px;
                     border-radius: 30px;
                }
                .checkbox-wrapper {
                 display: flex; 
                 align-items: center;
                }      
                       

                .right-image {
                    float: right; 
                    width: 20px; 
                    height: auto; 
                }
                u,ul {
                font-weight: bold;
                color: white;
                }

                .flex-container {
                display: flex;
                align-items: center; 
                }
                h2{
                    padding-top: 15px;
                }
                h3{
                    color: white;
                    outline: none;
                    padding: 15px;
                    padding-top: 5px;
                }
                
                ul {    
                    margin-right: 10px; 
                }
                .white{
                 font-weight: 20px;
                 color: white;
                 text-align: center;
                }
                .time{
                    font-weight: bold;
                    color: #F3CEF6;
                }

                </style>

            
    
{% endblock %}