{% extends 'base.html.twig' %}

{% block title %}Hello PatientsController!{% endblock %}

{% block body %}

<div class="container p-3" style="min-height: 100vh" id="add__patient">
    <div class="row row-cols-3">
        <div class="col col-2">
            <img src="{{ asset('/image/logo.png') }}" style="width: 100%" alt="">
        </div>
        <div class="col col-7">
            <div class="h5 m-0 mt-2 text-white text-center">
                Ajouter un patient
            </div>
        </div>
        <div class="col col-3">
            <a href="{{ path('app_patients')}}" class="btn text-white border border-3 border-white w-100"><i class="fa-solid fa-rotate-left"></i></a>
        </div>
    </div>

    <div class="my-3 w-100 bg-white" style="height: 2px;"></div>

    {{ form_start(form) }}
    <div class="form__container">
        <div class="input__container">
            <div>
                {{ form_label(form.name, 'Nom') }}
            </div>
            <div>
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.firstname, 'Prénom') }}
            </div>
            <div>
                {{ form_widget(form.firstname) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.adress) }}
            </div>
            <div>
                {{ form_widget(form.adress) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.phone) }}
            </div>
            <div>
                {{ form_widget(form.phone) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.birthday) }}
            </div>
            <div>
                {{ form_widget(form.birthday) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.numSecu) }}
            </div>
            <div>
                {{ form_widget(form.numSecu) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.genre) }}
            </div>
            <div>
                {{ form_widget(form.genre) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.infoSupAdress) }}
            </div>
            <div>
                {{ form_widget(form.infoSupAdress) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.fullNameMedecinTraitant) }}
            </div>
            <div>
                {{ form_widget(form.fullNameMedecinTraitant) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.PhoneMedecinTraitant) }}
            </div>
            <div>
                {{ form_widget(form.PhoneMedecinTraitant) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.PharmacieName) }}
            </div>
            <div>
                {{ form_widget(form.PharmacieName) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.PhonePharmacie) }}
            </div>
            <div>
                {{ form_widget(form.PhonePharmacie) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.fullNameUrgentContact) }}
            </div>
            <div>
                {{ form_widget(form.fullNameUrgentContact) }}
            </div>
        </div>
        <div class="input__container">
            <div>
                {{ form_label(form.phoneUrgentContact) }}
            </div>
            <div>
                {{ form_widget(form.phoneUrgentContact) }}
            </div>
        </div>
        <input class="btn w-100 border text-white border-white" type="submit">

    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
